
:root{
    /*colors*/
    --bg-color:#88bdbc;
    --buttons-color: #254E58;
    --shadow-color: #112D32;
    --dark-brown: #4F4A41;
    --light-brown: #6E6658;
    --white:rgb(245, 238, 238);
    -black:rgb(39, 17, 17);
    /*fonts*/
    --font:"Times New Roman", Times, serif;

}
body{
    background-color: var(--bg-color);
}
nav figure {
    margin: 0;
    border: 0.5px solid transparent;
    border-radius: ;
}
nav figure img {
    border: 0.5px solid transparent;
    border-radius: 25px;
}
nav{
    font-family: var(--font);
    background-color: var(--info); 
    }
#navMain a{
    font-size:xx-large;
    font-weight: 900;
    color:var(--white);
    margin: 10px;
}
#myToggler{
    color:var(--dark-brown);
    border-color: var(--white);
    background-color: var(--bg-color);
}
#navBrandPic{
    height: 50px;
    margin: 0 auto;
}    

.navMenu{
    justify-content: flex-end;
}
.jumboContainer{
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    background-image: url('/images/coding.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px;
    border: 1px transparent;
    border-radius: 10px;
}
.myJumbo{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
    width: 100%;

    
}